@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800');

body {
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	line-height: 22px;
	color: $gris2;
}

h1 {
	font-size: 40px;
	color: $negro;
}

h2 {
	font-size: 35px;
	color: $negro;
}

h3 {}

h4 {
	font-size: 21px;
	color: $negro;
}

.boton_blanco {
	font-size: 15px;
	color: $rojo;
	border: solid 1px $rojo;
	padding: 15px 30px;
	border-radius: 30px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;

	&:hover {
		color: white;
		background: $rojo;
		text-decoration: none;
	}
}

